body {
	text-align: center;
  
  /* For grid in background */
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #c4c4c4 1px, transparent 1px), linear-gradient(to bottom, #c4c4c4 1px, transparent 1px);
}

label {
	cursor: pointer;
}

h3 {
	line-height: .1em;
}

li, ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

li {
	position: relative;
	padding-left: 0;
}


/* Budget <section> */
.budget-meter { 
	margin: 0 auto;
	margin-top: 10px;
	height: 20px;  
	width: 80%;
	max-width: 800px;
	position: relative;
	background: #919191;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.budget-meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}


/* Celndar <section> */
.calendar {
	margin: 0 auto;
	width: 95%;
	max-width: 800px;
}

/* for 'edit' links */
.edit {
	position: absolute;
	font-size: 12px;
	margin-top: -7px;
	margin-left: 5px; 
	font-weight: bold;
}

.edit-budget {
	font-size: 1em;
	font-weight: bold;
	color: #3707EE;
	cursor: pointer;
}

.js-edit-panel {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #aaeef1;
  width: 70%;
  max-width: 600px;
  height: 60%;
  max-height: 400px;
  overflow: auto;
}

.js-edit-panel-inner {
	z-index: -1;
	height: 40px;
	position: relative;
	top: 20px;
}

.user-event-name {
	font-weight: bold;
} 