body {
	text-align: center;
}

body {  
    background-size: 5px 5px;
    background-image: linear-gradient(to right, #c4c4c4 1px, transparent 1px), linear-gradient(to bottom, #c4c4c4 1px, transparent 1px);

}

h3 {
	line-height: .1em;
}

li, ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

li {
	position: relative;
	padding-left: 0;
}

.calendar {
	margin-top: 30px;
}

.edit {
	font-size: 0.8em;
	position: absolute;
	margin-top: -7px;
	margin-left: 10px; 
}