body {
	text-align: center;
}

body {  
    background-size: 5px 5px;
    background-image: linear-gradient(to right, #c4c4c4 1px, transparent 1px), linear-gradient(to bottom, #c4c4c4 1px, transparent 1px);

}

h3 {
	line-height: .1em;
}

li {
	position: relative;
	list-style: none;
	padding-left: 0;
	text-align: center;
}